<div class="black_layer"></div>
<div class="content_and_background internal_links_page">
  <div class="page_background">
    <%= page_background_asset(page) %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
  </div>
  <div class="content scroller">
    <div>
      <div class="content_wrapper">
        <%= page_default_content(page) %>
        <%= internal_links_grid(entry, configuration) %>
      </div>
    </div>
  </div>
</div>
